body {
  background-color: red !important;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#header {
  position: relative;
  width: auto;
  margin: 0;
  padding: 0;
  min-height: 1020px;
}

#header .header {
  height: 500px !important;
  position: relative;
}

#header .header .header-slider {
  position: absolute;
}

#header .header .header-slider .next-prev-buttons {
  width: 95%;
  position: absolute;
  z-index: 10000;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 10px;
  top: 50%;
}

#header .header .header-slider .next-prev-buttons .next {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 0;
  left: 10px;
  cursor: pointer;
}

#header .header .header-slider .next-prev-buttons .prev {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  left: 0;
  cursor: pointer;
}

#header .header .top-header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 40px;
  color: #ffffff;
}

#header .header .top-header .center-top-header h3 {
  font-size: 36px;
  margin-bottom: 2px !important;
  margin-top: -10px;
  letter-spacing: 3px;
}

#header .header .top-header .center-top-header span {
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 3px;
}

#header .header .top-header a {
  padding: 0px 20px;
  position: relative;
  display: inline-block;
  color: #ffffff;
}

#header .header .top-header a:hover {
  color: #ffffff;
  text-decoration: none;
}

#header .header .top-header a:hover:before {
  content: '';
  border-bottom: 1px solid #ffffff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
}

#header .header .main-header {
  position: absolute;
  width: 100%;
  color: #ffffff;
  text-align: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

#header .header .main-header .text-main-header {
  margin-top: 25px;
  padding-bottom: 20px;
}

#header .header .main-header .text-main-header p {
  width: 100%;
  text-align: center;
  padding-left: 35%;
  padding-right: 35%;
}

#header .header .main-header .text-main-header h1 {
  letter-spacing: 5px;
  font-size: 50px;
}

#header .header .main-header .text-main-header-button {
  margin-top: 50px;
}

#header .header .main-header .text-main-header-button a {
  background: #ffffff;
  color: #5c5b5b;
  font-size: 20px;
  letter-spacing: 3px;
  text-decoration: none;
  border: 2px solid #5c5b5b;
  padding: 20px 0;
}

#header .header .main-header .text-main-header-button a span {
  border-right: 1px solid #5c5b5b;
  padding: 20px 20px;
}

#header .header .main-header .text-main-header-button a i {
  padding: 20px 20px;
}

#header .header .main-header .text-main-header-button a:hover {
  color: #ffffff;
  background: #5c5b5b;
  border: 2px solid #ffffff;
}

#header .header .main-header .text-main-header-button a:hover .span-text-main-header {
  border-right: 1px solid #fff;
}

#about {
  position: relative;
  padding-top: 100px;
  color: #7c7c7c;
  min-height: 700px;
  background-color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#about .about-brand-name {
  margin-bottom: 50px;
}

#about .about-brand-name h4 {
  font-size: 36px;
  color: #000;
}

#about .about-brand-name p {
  font-size: 13px;
  color: #7c7c7c;
}

#about .about-text {
  padding-right: 25%;
  padding-left: 25%;
}

#about .about-skills-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 100px;
}

#about .about-skills-logo h5 {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  margin-top: 10px;
}

#latest-project {
  min-height: 130px;
  background-color: #cacaca;
  color: #7c7c7c;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#latest-project .the-text {
  margin-left: 15%;
  color: #000;
}

#latest-project .the-buttons {
  margin-left: 45%;
}

#latest-project .the-buttons a {
  margin-left: 20px;
  text-decoration: none;
  color: #7c7c7c;
}

#latest-project .the-buttons a:hover {
  border-top: 2px solid #7c7c7c;
  border-bottom: 2px solid #7c7c7c;
  padding: 10px 10px;
}

.the-text,
.the-buttons {
  float: left;
}

#project {
  position: relative;
  background-color: pink;
  min-height: 800px;
  width: 100%;
}

#project .left-side-proj-temp {
  width: 50%;
}

#project .left-side-proj-temp img {
  height: 800px;
  width: 100%;
  margin: 0;
  padding: 0;
}

#project .right-side-proj-temp {
  width: 50%;
  right: 0;
  height: 100%;
}

#project .right-side-proj-temp img {
  width: 50%;
  height: 400px;
  float: left;
}

#project .right-side-proj-temp img:hover {
  color: #59cbd3;
  opacity: 0.80;
  cursor: pointer;
}

.right-side-proj-temp,
.left-side-proj-temp {
  float: left;
}

#logo-slider {
  position: relative;
  position: relative;
  background-color: #fff;
  min-height: 450px;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 80px;
  margin: 0;
}

#logo-slider .slider-arrow {
  position: absolute;
  top: 42%;
  font-size: 50px;
  z-index: 10000;
}

#logo-slider .slider-arrow .slider-prev {
  margin-left: 20%;
  cursor: pointer;
}

#logo-slider .slider-arrow .slider-prev:hover {
  color: #a1a1a1;
}

#logo-slider .slider-arrow .slider-next {
  margin-right: 20%;
  cursor: pointer;
}

#logo-slider .slider-arrow .slider-next:hover {
  color: #a1a1a1;
}

#logo-slider .logo-slick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#logo-slider .logo-slick .logo-slider-content {
  text-align: center;
}

#logo-slider .logo-slick .logo-slider-content img {
  display: inline;
}

#logo-slider .logo-slick .logo-slider-content p {
  margin-top: 30px;
  padding-right: 20%;
  padding-left: 20%;
  color: #7c7c7c;
}

.design-whole {
  position: relative;
  min-height: 920px;
  background: url(/images/design-skills/background.jpg) fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 114px;
}

.design-whole .left-design {
  float: left;
  margin-top: 65px;
}

.design-whole .left-design .each-design {
  margin-bottom: 100px;
}

.design-whole .left-design .each-design .image-and-icon {
  position: relative;
}

.design-whole .left-design .each-design .image-and-icon i {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 8.5%;
}

.design-whole .left-design .each-design .h3-text-design {
  clear: right;
}

.design-whole .left-design .each-design h3 {
  letter-spacing: 3px;
  font-size: 20px;
  clear: right;
}

.design-whole .left-design .each-design p {
  color: #7c7c7c;
  font-weight: 500;
  font-size: 14px;
}

.design-whole .right-design img {
  width: 100%;
  margin-bottom: 0px;
}

.image-and-icon,
.left-side-text {
  float: left;
}

#team-member {
  max-height: 1000px;
  min-height: 600px;
  background-color: #fff;
  position: relative;
}

#team-member .meet-our-team {
  text-align: center;
  padding-top: 100px;
  font-family: 'Montserrat', sans-serif;
}

#team-member .team-player-container {
  margin-top: 30px;
}

#team-member .team-player-container .top-player {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

#team-member .team-player-container .top-player .flex-dastan {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

#team-member .team-player-container .top-player .text-top-player {
  background-color: lightgray;
  padding-top: 60px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 10px;
}

#team-member .team-player-container .top-player .text-top-player:hover {
  background-color: #cc1ccc;
}

#team-member .team-player-container .top-player .text-top-player:hover h5 {
  color: #fff;
}

#team-member .team-player-container .top-player .text-top-player:hover p {
  color: #fff;
}

#team-member .team-player-container .top-player h5 {
  font-size: 25px;
  margin-bottom: 30px;
  text-transform: uppercase;
  padding-left: 50px;
}

#team-member .team-player-container .top-player p {
  color: #7c7c7c;
  font-size: 14px;
  padding-left: 50px;
}

#team-member .team-player-container .images {
  margin-right: 10px;
  widows: 270px;
  height: 270px;
}

#team-member .team-player-container .images:hover .hover-image {
  opacity: 1;
}

#team-member .team-player-container .images .hover-image {
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 24.5%;
  text-align: center;
  position: absolute;
  background: rgba(31, 156, 228, 0.6);
  padding-top: 80px;
  padding-bottom: 30px;
  color: #fff;
}

#team-member .team-player-container .images .hover-image .hover-social-icons {
  padding-top: 30px;
}

#team-member .team-player-container .images .hover-image .hover-social-icons i {
  padding-right: 10px;
  color: #fff;
}

#team-member .team-player-container .images .hover-image .hover-social-icons i:hover {
  color: black;
  cursor: pointer;
}

#team-member .team-player-container .images .images:last-child {
  margin-right: 0;
}

#team-member .team-player-container .images:hover .hover-image {
  opacity: 1;
}

#team-member .bottom-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#team-member .bottom-player .bottom-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 270px;
  height: 270px;
}

#team-member .bottom-player .bottom-image:hover .hover-image {
  opacity: 1;
}

#team-member .bottom-player .bottom-image .hover-image {
  opacity: 0;
  background-size: cover;
  text-align: center;
  width: 24.5%;
  top: 19px;
  bottom: 48px;
  width: 24.5%;
  text-align: center;
  position: absolute;
  background: rgba(31, 156, 228, 0.6);
  padding-top: 80px;
  padding-bottom: 30px;
  color: #fff;
}

#team-member .bottom-player .bottom-image .hover-image .hover-social-icons {
  padding-top: 30px;
}

#team-member .bottom-player .bottom-image .hover-image .hover-social-icons i {
  padding-right: 10px;
  color: #fff;
}

#team-member .bottom-player .bottom-image .hover-image .hover-social-icons i:hover {
  color: black;
  cursor: pointer;
}

#team-member .bottom-player .bottom-image .work-with-us {
  background-color: #fff;
  height: 270px;
  width: 270px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding-top: 70px;
  cursor: pointer;
}

#team-member .bottom-player .bottom-image .work-with-us:hover {
  background-color: red;
}

#team-member .bottom-player .bottom-image .work-with-us p {
  font-size: 19px;
  padding-top: 15px;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: 600;
}

.pricing {
  min-height: 1000px;
  background: url(/images/pricing/pricing.jpg) fixed;
  position: relative;
  color: #fff;
}

.pricing .pricing-top {
  padding-top: 50px;
  font-weight: 600;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.pricing .pricing-top p {
  margin-top: 30px;
  padding-left: 27%;
  padding-right: 27%;
  line-height: 30px;
  font-weight: 400;
}

.pricing .price-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-top: 100px;
  color: black;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.pricing .price-table .pricing-table {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pricing .price-table .pricing-table ~ .pricing-table {
  border-left: 1px solid #b4b4b4;
}

.pricing .price-table .pricing-table .top-table h4 {
  font-weight: 700;
  font-size: 23px;
}

.pricing .price-table .pricing-table .top-table h3 {
  font-weight: 800;
  font-size: 25px;
}

.pricing .price-table .pricing-table .top-table span {
  font-weight: 700;
  font-size: 16px;
}

.pricing .price-table .pricing-table .top-table p {
  font-weight: 400;
  font-size: 14px;
  color: #585858;
  margin-top: 10px;
  padding-right: 70px;
}

.pricing .price-table .pricing-table .pricing-property .property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing .price-table .pricing-table .pricing-property .property i {
  color: green;
  margin-right: 10px;
}

.pricing .price-table .pricing-table .end-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*# sourceMappingURL=index.css.map */