body {
  background-color: red !important;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#header {
  position: relative;
  width: auto;
  margin: 0;
  padding: 0;
  min-height: 1020px;
}

#header .header {
  height: 500px !important;
  position: relative;
}

#header .header .header-slider {
  position: absolute;
}

#header .header .header-slider .next-prev-buttons {
  width: 95%;
  position: absolute;
  z-index: 10000;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 10px;
  top: 50%;
}

#header .header .header-slider .next-prev-buttons .next {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 0;
  left: 10px;
  cursor: pointer;
}

#header .header .header-slider .next-prev-buttons .prev {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  left: 0;
  cursor: pointer;
}

#header .header .top-header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 40px;
  color: #ffffff;
}

#header .header .top-header .center-top-header h3 {
  font-size: 36px;
  margin-bottom: 2px !important;
  margin-top: -10px;
  letter-spacing: 3px;
}

#header .header .top-header .center-top-header span {
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 3px;
}

#header .header .top-header a {
  padding: 0px 20px;
  position: relative;
  display: inline-block;
  color: #ffffff;
}

#header .header .top-header a:hover {
  color: #ffffff;
  text-decoration: none;
}

#header .header .top-header a:hover:before {
  content: '';
  border-bottom: 1px solid #ffffff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
}

#header .header .main-header {
  position: absolute;
  width: 100%;
  color: #ffffff;
  text-align: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

#header .header .main-header .text-main-header {
  margin-top: 25px;
  padding-bottom: 20px;
}

#header .header .main-header .text-main-header p {
  width: 100%;
  text-align: center;
  padding-left: 35%;
  padding-right: 35%;
}

#header .header .main-header .text-main-header h1 {
  letter-spacing: 5px;
  font-size: 50px;
}

#header .header .main-header .text-main-header-button {
  margin-top: 50px;
}

#header .header .main-header .text-main-header-button a {
  background: #ffffff;
  color: #5c5b5b;
  font-size: 20px;
  letter-spacing: 3px;
  text-decoration: none;
  border: 2px solid #5c5b5b;
  padding: 20px 0;
}

#header .header .main-header .text-main-header-button a span {
  border-right: 1px solid #5c5b5b;
  padding: 20px 20px;
}

#header .header .main-header .text-main-header-button a i {
  padding: 20px 20px;
}

#header .header .main-header .text-main-header-button a:hover {
  color: #ffffff;
  background: #5c5b5b;
  border: 2px solid #ffffff;
}

#header .header .main-header .text-main-header-button a:hover .span-text-main-header {
  border-right: 1px solid #fff;
}

#about {
  position: relative;
  padding-top: 100px;
  color: #7c7c7c;
  min-height: 700px;
  background-color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#about .about-brand-name {
  margin-bottom: 50px;
}

#about .about-brand-name h4 {
  font-size: 36px;
  color: #000;
}

#about .about-brand-name p {
  font-size: 13px;
  color: #7c7c7c;
}

#about .about-text {
  padding-right: 25%;
  padding-left: 25%;
}

#about .about-skills-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 100px;
}

#about .about-skills-logo h5 {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  margin-top: 10px;
}

#latest-project {
  min-height: 130px;
  background-color: #cacaca;
  color: #7c7c7c;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#latest-project .the-text {
  margin-left: 15%;
  color: #000;
}

#latest-project .the-buttons {
  margin-left: 45%;
}

#latest-project .the-buttons a {
  margin-left: 20px;
  text-decoration: none;
  color: #7c7c7c;
}

#latest-project .the-buttons a:hover {
  border-top: 2px solid #7c7c7c;
  border-bottom: 2px solid #7c7c7c;
  padding: 10px 10px;
}

.the-text,
.the-buttons {
  float: left;
}

#project {
  position: relative;
  background-color: pink;
  min-height: 800px;
  width: 100%;
}

#project .left-side-proj-temp {
  width: 50%;
}

#project .left-side-proj-temp img {
  height: 800px;
  width: 100%;
  margin: 0;
  padding: 0;
}

#project .right-side-proj-temp {
  width: 50%;
  right: 0;
  height: 100%;
}

#project .right-side-proj-temp img {
  width: 50%;
  height: 400px;
  float: left;
}

#project .right-side-proj-temp img:hover {
  color: #59cbd3;
  opacity: 0.80;
  cursor: pointer;
}

.right-side-proj-temp,
.left-side-proj-temp {
  float: left;
}

#logo-slider {
  position: relative;
  background-color: #fff;
  min-height: 450px;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 80px;
  margin: 0;
}

#logo-slider .logo-slick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#logo-slider .logo-slick .logo-slider-content {
  text-align: center;
}

#logo-slider .logo-slick .logo-slider-content img {
  display: inline;
}

#logo-slider .logo-slick .logo-slider-content p {
  margin-top: 30px;
  padding-right: 20%;
  padding-left: 20%;
  color: #7c7c7c;
}
/*# sourceMappingURL=index.css.map */