.design-whole {
    position: relative;
    min-height: 920px;
    background: url(/images/design-skills/background.jpg) fixed;
    display: none;
    justify-content: flex-end;
    padding-top: 114px;
    .left-design {
        float: left;
        margin-top: 65px;
        .each-design {
            // display: flex;
            // float: left;
            margin-bottom: 100px;
            .image-and-icon {
                position: relative;
                // float: left;
                i {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 8.5%;
                }
            }
            .h3-text-design {
                clear: right;
            }
            h3 {
                letter-spacing: 3px;
                font-size: 20px;
                clear: right;
            }
            p {
                color: $text-color;
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
    .right-design img {
        width: 100%;
        margin-bottom: 0px;
    }
}

.image-and-icon,
.left-side-text {
    float: left;
}