body {
    background-color: red !important;
    position: relative;
    box-sizing: border-box;
}

// note the variables for the header
$header-height: 600px;
$next: #ffffff;
// note end of the variables
#header {
    position: relative;
    width: auto;
    margin: 0;
    padding: 0;
    .header {
        height: 500px !important;
        position: relative;
        .header-slider {
            position: absolute;
            .next-prev-buttons {
                width: 95%;
                position: absolute;
                z-index: 10000;
                color: #ffffff;
                font-size: 20px;
                letter-spacing: 10px;
                top: 50%;
                // left: 50%;
                .next {
                    transform: rotate(90deg);
                    right: 0;
                    left: 10px;
                    cursor: pointer;
                }
                .prev {
                    transform: rotate(270deg);
                    left: 0;
                    cursor: pointer;
                }
            }
        }
        // note now the slider and its buttons have been finished, let's go to the top-header
        .top-header {
            position: absolute;
            display: flex;
            text-align: center;
            margin-top: 40px;
            color: #ffffff;
            .center-top-header {
                h3 {
                    font-size: 36px;
                    margin-bottom: 2px !important;
                    margin-top: -10px;
                }
                span {
                    font-size: 13px;
                    font-weight: 200;
                }
            }
            a {
                padding: 0px 20px;
                position: relative;
                display: inline-block;
                color: #ffffff;
                &:hover {
                    color: #ffffff;
                    text-decoration: none;
                    &:before {
                        content: '';
                        border-bottom: 1px solid #ffffff;
                        position: absolute;
                        width: 100%;
                        top: 50%;
                    }
                }
            }
        }
        // note the top header have been finsihed
        .main-header {
            position: absolute;
            width: 100%;
            color: #ffffff;
            text-align: center;
            transform: translateY(50%);
            .text-main-header {
                margin-top: 25px;
                padding-bottom: 20px;
                p {
                    width: 100%;
                    text-align: center;
                    margin-left: 0;
                    margin-top: 0;
                }
            }
            .text-main-header-button {
                margin-top: 50px;
                a {
                    background: #ffffff;
                    color: rgb(92, 91, 91);
                    font-size: 20px;
                    letter-spacing: 3px;
                    text-decoration: none;
                    border: 2px solid rgb(92, 91, 91);
                    padding: 20px 0;
                    span {
                        border-right: 1px solid rgb(92, 91, 91);
                        padding: 20px 20px;
                    }
                    i {
                        padding: 20px 20px;
                    }
                    &:hover {
                        color: #ffffff;
                        background: rgb(92, 91, 91);
                        border: 2px solid #ffffff;
                    }
                    &:hover .span-text-main-header {
                        border-right: 1px solid#fff;
                    }
                }
            }
        }
    }
}