#latest-project {
    min-height: 130px;
    background-color: rgb(202, 202, 202);
    color: $text-color;
    padding-top: 50px;
    display: flex;
    width: 100%;
    .the-text {
        margin-left: 15%;
    }
    .the-buttons {
        margin-left: 45%;
        a {
            margin-left: 5px;
        }
    }
}

.the-text,
.the-buttons {
    float: left;
}