    #logo-slider {
        position: relative;
        .slider-arrow {
            cursor: pointer;
            position: absolute;
            top: 42%;
            font-size: 50px;
            z-index: 10000;
            .slider-prev {
                margin-left: 20%;
            }
            .slider-next {
                margin-right: 20%;
            }
        }
        position: relative;
        background-color: #fff;
        min-height: 450px;
        padding-top: 80px;
        text-align: center;
        padding-bottom: 80px;
        margin: 0;
        .logo-slick {
            display: flex;
            position: relative;
            .logo-slider-content {
                text-align: center;
                img {
                    display: inline;
                }
                p {
                    margin-top: 30px;
                    padding-right: 20%;
                    padding-left: 20%;
                    color: $text-color;
                }
            }
        }
    }